/* colors


Metallic gold	#D4AF37	rgb(212,175,55)
charcoal      #36454f
light grey #eee
*/



/* basic set up */

*:focus {
  outline: none;
 }

*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {

  background-color:#fff;
  color: #555;

}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height:1.4;
  text-rendering: optimizeLegibility;
  color:#777;

}

.row {

  max-width: 1140px;
  margin: 0 auto;

}

section{

  padding:60px 0;
}


/*

===================== re-useable  =============================

*/

h1,
h2,
h3 {
  font-weight: 400;
  text-transform: uppercase;
  color:black;

}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 210%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;

}

h3 {
  font-size: 120%;
  margin-bottom: 15px;
  text-align: center;

}

h4 {

  font-size:18px;
  margin-top:10px;
  color:#555;

}
/*h3:after {
  display: block;
  height: 2px;
  background-color: #6C006C;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}*/

h2:after {
  display: block;
  height: 2px;
  background-color: #6C006C;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

h4:after {
  display: block;
  height: 2px;

  content: " ";
  width: 50px;
  margin: 0 auto;

}


/*
=====================header section=============================

*/

/* =================main nav =================*/

nav{
  /*background-color:rgba(255, 192, 203, 0.589);*/
  /*background-color:rgba(108, 0, 108, 0.103);*/
  background-color:rgba(201, 201, 201, 0.103);
  z-index:20;
  /*border-bottom: solid 2px rgba(0, 193, 200, 0.117);*/
}
.main-nav {

  float:right;
  list-style:none;
  margin:25px;
}


.main-nav li {
  margin-left:40px;
  display:inline-block;

}

li > a {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding:16px 0;
  text-transform:uppercase;
}

li > a:hover {
  color: #fff;
}

li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6C006C;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


header {
  background-color:rgba(0, 0, 0, 0.398);
  background-size:cover;
  background-position:bottom;
  height: 100vh;
  position: relative;

}

.bg-video {

 position:absolute;
 top:0;
 left:0;
 height:83%;
 width:100%;
 background-position:top;
 z-index: -1;
 background-attachment: fixed;

}
.bg-video__content{

 height:98%;
 width:100%;
 object-fit:cover;

}

.text-box {

  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:100%;
  text-align: center;

}

.heading-primary{

  color:#fff;
  text-transform:uppercase;
  backface-visibility: hidden;

}

.heading-primary-main{
  display: block;
  font-size:35px;
  font-weight: 400;
  text-align: center;
  letter-spacing:6px;
  animation-name: moveInLeft;
  animation-duration:3s;

}

.heading-primary-sub{
  display: block;
  font-size:15px;
  font-weight: 400;
  text-align: center;
  letter-spacing:.5px;
  animation-name: moveInright;
  animation-duration:3s;
}

.main-nav{
}

/*

============== Header Button  =================


*/

.btn{
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 15px 15px;
  padding: 15px 20px;
  box-shadow: inset 0 0 0 1.5px #6C006C;
  color: #fff;
  font-family: 'Lato';
  font-size:80%;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  display:inline-block;
  text-decoration: none;
  border-radius: 5px;



}



.btn::before,
.btn::after{
  box-sizing: inherit;
  content: '';
  position: absolute;
  cursor: pointer;
  border-radius: 5px;

}


.btn:hover{
  color: #ffffff;
}
.btn::before,
.btn::after{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;

}
.btn::before{
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: scale3d(0, 1, 1);
}
.btn::after
{
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: scale3d(1, 0, 1);
}
.btn:hover::before,
.btn:hover::after{
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}


@keyframes moveInLeft {

  0% {

    opacity: 0;
    transform: translateX(-100px);

  }

  80% {
    transform: translateX(10px);


  }

  100% {

    opacity: 1;
    transform: translateX(0);


  }

}

@keyframes moveInright {

  0% {

    opacity: 0;
    transform: translateX(100px);

  }

  80% {
    transform: translateX(-10px);


  }

  100% {

    opacity: 1;
    transform: translateX(0);


  }

}


@keyframes moveInBottom {

  0% {

    opacity: 0;
    transform: translateY(50px);

  }

  80% {


    transform: translateY(-10px);

  }

  100% {

    opacity: 1;
    transform: translate(0);


  }

}

.btn-animated {

  animation: moveInBottom 1.2s ease-out 1.2s;
  animation-fill-mode:backwards;

}


.feature-box{
  background-color:rgba(238, 238, 238, 0.357);
  padding:20px 10px;
  margin-bottom:50px;
  text-align:center;
  border-radius: 3px;
  transition:transform .5s;
  box-shadow: 2px 20px 25px #8888882a;
  border-radius: 3px;
  border: solid 0.5px #555;
  overflow:hidden;
}
.feature-box:hover {
  transform:translateY(-10px) scale(1);
  background-color:#fff;
  box-shadow: 5px 20px 25px #888888f1;
  border: solid 1.5px #6C006C;

}

.icon-basic-accelerator,
.icon-basic-smartphone,
.icon-basic-bolt,
.icon-basic-lightbulb{

  font-size:50px;
  color:#6C006C;
}




.skillbar {
	position:relative;
	margin-top: 10px;
	width: 100%;
	background: #eee;
	height: 35px;
	border-radius: 3px;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight: bold;
	font-size: 13px;
	color: #fff;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	margin: 0;
}

.skillbar-title span {
	display: block;
	background: rgba(0, 0, 0, 0.1);
	padding: 0 20px;
	height:35px;
	line-height: 35px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height: 35px;
	width: 0%;
	border-radius: 3px;
	transition: 500ms linear;
	transition-property: width, background-color;
}

.skill-bar-percent {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 11px;
	height: 35px;
	line-height: 35px;
	color: rgba( 0, 0, 0, 0.4 );
	transition: color 500ms ease-out;
}

.complete .skill-bar-percent {
	color: #fff;
}

.html5 .skillbar-title {
	background: #d35400;
}

.html5 .skillbar-bar {
	background: #e67e22;
}


.css .skillbar-title {
	background: #2980b9;
}

.css .skillbar-bar {
	background: #3498db;
}

.javascript .skillbar-title {
	background: #fac552;
}
.javascript .skillbar-bar {
	background: #f1ac18;
}

.jquery .skillbar-title {
	background: #2c3e50;
}

.jquery .skillbar-bar {
	background: #2c3e50;
}

.php .skillbar-title {
	background: #46465e;
}

.php .skillbar-bar {
	background: #5a68a5;
}

.wordpress .skillbar-title {
	background: #333333;
}

.wordpress .skillbar-bar {
	background: #525252;
}





.about-me-text{

font-size:15px;
}






