/* colors


Metallic gold	#D4AF37	rgb(212,175,55)
charcoal      #36454f
light grey #eee
*/



/* basic set up */

*:focus {
  outline: none;
 }

*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {

  background-color:#fff;
  color: #555;

}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height:1.4;
  text-rendering: optimizeLegibility;
  color:#777;

}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {

  max-width: 1140px;
  margin: 0 auto;

}

section{

  padding:60px 0;
}
.box {
  padding: 1%;
}

/*

===================== re-useable  =============================

*/

h1,
h2,
h3 {
  font-weight: 400;
  /*text-transform: uppercase;*/
  color:black;

}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 210%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 1px;

}

.form-h2 {
  font-size: 210%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 1px;
  color:#fff;

}

.form-h3{
  font-size: 120%;
  margin-bottom: 15px;
  text-align: center;
  color:#fff;
  font-weight: 300;

}

h3 {
  font-size: 120%;
  margin-bottom: 15px;
  text-align: center;
}

h4 {

  font-size:110%;
  margin-top:10px;
  color:#555;

}

h5 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
  color:#fff;
}
/*h3:after {
  display: block;
  height: 2px;
  background-color: #6C006C;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}*/

h2:after {
  display: block;
  height: 2px;
  background-color:#6C006C;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
  animation-name: moveInLeft-2;
  animation-duration:3s;

}

h4:after {
  display: block;
  height: 2px;

  content: " ";
  width: 50px;
  margin: 0 auto;

}


/*
=====================header section=============================

*/

/* =================main nav =================*/

nav{
  /*background-color:rgba(255, 192, 203, 0.589);*/
  /*background-color:rgba(108, 0, 108, 0.103);*/
  background-color:rgba(201, 201, 201, 0.048);
  z-index:20;
  max-width:100%;
  /*border-bottom: solid 2px rgba(0, 193, 200, 0.117);*/
}
.main-nav {

  float:right;
  list-style:none;
  margin:25px;

}


.main-nav li {
  margin-left:40px;
  display:inline-block;

}

.nav-li > a {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding:16px 0;
  text-transform:uppercase;
}

.nav-li > a:hover {
  color: #fff;
}

.nav-li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6C006C;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


header {
  background-color:rgba(0, 0, 0, 0.398);
  background-size:cover;
  background-position:bottom;
  height: 100vh;
  width:100%;
  position: relative;



}



.bg-video {

 position:absolute;
 top:0;
 left:0;
 height:100%;
 width:100%;
 background-position:top;
 z-index: -1;
 background-attachment: fixed;

}
.bg-video__content{

 height:98%;
 width:100%;
 object-fit:cover;

}

.text-box {

  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:100%;
  text-align: center;

}




.heading-primary{

  color:#fff;
  text-transform:uppercase;
  backface-visibility: hidden;

}

.new-heading{
  display: inline-block;
  font-size:35px;
  font-weight: 400;
  text-align: center;
  letter-spacing:6px;
  animation-name: moveInLeft;
  animation-duration:3s;
  margin-bottom:0px;
  text-transform:uppercase;
  margin-top: 60px;
  margin-bottom:40px;



}


.heading-primary-sub{
  display: block;
  font-size:20px;
  font-weight: 300;
  text-align: center;
  letter-spacing:.5px;
  animation-name: moveInright;
  animation-duration:3s;
  margin:0;

}

.main-nav{
}

/*

============== Header Button  =================


*/

.btn{
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 10px 10px;
  padding: 15px 20px;
  box-shadow: inset 0 0 0 1.5px #6C006C;
  color: #fff;
  font-family: 'Lato';
  font-size:80%;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  display:inline-block;
  text-decoration: none;
  border-radius: 5px;



}



.btn::before,
.btn::after{
  box-sizing: inherit;
  content: '';
  position: absolute;
  cursor: pointer;
  border-radius: 5px;

}


.btn:hover{
  color: #ffffff;
}
.btn::before,
.btn::after{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;

}
.btn::before{
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: scale3d(0, 1, 1);
}
.btn::after
{
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: scale3d(1, 0, 1);
}
.btn:hover::before,
.btn:hover::after{
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}


/*

============== Header Annimation  =================


*/

@keyframes moveInLeft-2 {

  0% {

    opacity: 0;
    transform: translateX(-500px);

  }

  80% {
    transform: translateX(10px);


  }

  100% {

    opacity: 1;
    transform: translateX(0);


  }

}


@keyframes moveInLeft {

  0% {

    opacity: 0;
    transform: translateX(-100px);

  }

  80% {
    transform: translateX(10px);


  }

  100% {

    opacity: 1;
    transform: translateX(0);


  }

}

@keyframes moveInright {

  0% {

    opacity: 0;
    transform: translateX(100px);

  }

  80% {
    transform: translateX(-10px);


  }

  100% {

    opacity: 1;
    transform: translateX(0);


  }

}


@keyframes moveInBottom {

  0% {

    opacity: 0;
    transform: translateY(50px);

  }

  80% {


    transform: translateY(-10px);

  }

  100% {

    opacity: 1;
    transform: translate(0);


  }

}

.btn-animated {

  animation: moveInBottom 1.2s ease-out 1.2s;
  animation-fill-mode:backwards;


}


/*

============== about me section  =================


*/

.feature-box-fast{
  background-color:rgba(238, 238, 238, 0.357);
  padding:20px 10px;
  margin-bottom:30px;
  text-align:center;
  border-radius: 3px;
  transition:transform .5s;
  box-shadow: 2px 20px 25px #8888882a;
  border-radius: 3px;
  border: solid 0.5px #555;
  overflow:hidden;
}
.feature-box-fast:hover {
  transform:translateY(-10px) scale(1);
  background-color:#fff;
  box-shadow: 5px 20px 25px #888888f1;
  border: solid 1.5px #6C006C;

}

.feature-box-responsive{
  background-color:rgba(238, 238, 238, 0.357);
  padding:20px 10px;
  margin-bottom:30px;
  text-align:center;
  border-radius: 3px;
  transition:transform .5s;
  box-shadow: 2px 20px 25px #8888882a;
  border-radius: 3px;
  border: solid 0.5px #555;
  overflow:hidden;
}
.feature-box-responsive:hover {
  transform:translateY(-10px) scale(1);
  background-color:#fff;
  box-shadow: 5px 20px 25px #888888f1;
  border: solid 1.5px #6C006C;


}
.feature-box-intuative{
  background-color:rgba(238, 238, 238, 0.357);
  padding:20px 10px;
  margin-bottom:30px;
  text-align:center;
  border-radius: 3px;
  transition:transform .5s;
  box-shadow: 2px 20px 25px #8888882a;
  border-radius: 3px;
  border: solid 0.5px #555;
  overflow:hidden;
}
.feature-box-intuative:hover {
  transform:translateY(-10px) scale(1);
  background-color:#fff;
  box-shadow: 5px 20px 25px #888888f1;
  border: solid 1.5px #6C006C;

}

.feature-box-dynamic{
  background-color:rgba(238, 238, 238, 0.357);
  padding:20px 10px;
  margin-bottom:30px;
  text-align:center;
  border-radius: 3px;
  transition:transform .5s;
  box-shadow: 2px 20px 25px #8888882a;
  border-radius: 3px;
  border: solid 0.5px #555;
  overflow:hidden;
}
.feature-box-dynamic:hover {
  transform:translateY(-10px) scale(1);
  background-color:#fff;
  box-shadow: 5px 20px 25px #888888f1;
  border: solid 1.5px #6C006C;

}
.icon-basic-mouse{
  font-size:50px;
  color:#fff;
}


.icon-basic-accelerator,
.icon-basic-smartphone,
.icon-basic-bolt,
.icon-basic-lightbulb{

  font-size:50px;
  color:#6C006C;
}

.feature-box-text{
  margin-bottom:20px;
}



/*

============== Skill bar  =================


*/

.skillbar {
	position:relative;
	margin-top: 10px;
	width: 100%;
	background: #eee;
	height: 40px;
  border-radius: 3px;

}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight: bold;
	font-size: 13px;
	color: #fff;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	margin: 0;
}

.skillbar-title span {
	display: block;
	background: rgba(0, 0, 0, 0.1);
	padding: 0 20px;
	height: 40px;
	line-height: 35px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height: 40px;
	width: 0%;
	border-radius: 3px;
	transition: 500ms linear;
	transition-property: width, background-color;
}

.skill-bar-percent {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 11px;
	height: 30px;
	line-height: 35px;
	color: rgba( 0, 0, 0, 0.4 );
	transition: color 500ms ease-out;
}

.complete .skill-bar-percent {
	color: #fff;
}

.html5 .skillbar-title {
	background: #d35400;
}

.html5 .skillbar-bar {
	background: #e67e22;
}


.css .skillbar-title {
	background: #2980b9;
}

.css .skillbar-bar {
	background: #3498db;
}

.javascript .skillbar-title {
	background: #fac552;
}
.javascript .skillbar-bar {
	background: #f1ac18;
}

.jquery .skillbar-title {
	background: #2c3e50;
}

.jquery .skillbar-bar {
	background: #2c3e50;
}

.php .skillbar-title {
	background: #46465e;
}

.php .skillbar-bar {
	background: #5a68a5;
}

.wordpress .skillbar-title {
	background: #333333;
}

.wordpress .skillbar-bar {
	background: #525252;
}


.about-me{
  background-color:rgb(255, 255, 255);
}


.about-me-text{

font-size:16px;
margin-left:0px;
margin-top:5px;
line-height: 25px;

}

.purple-text{

  color:#00c3c8;
  font-size:100%;
  font-weight:400;
  text-decoration:none;

}


.email-link{

  text-decoration:none;
  font-weight:400;
  color:#00c3c8;

}


/*

============== Portfolio section  =================


*/




.portfolio-section{
  background-color:#eeeeee;
}



.portfolio-photo{
  width:100%;
  margin:0px;
  list-style:none;
  position: relative;

}

.image{
  display: block;
  opacity:1;
  width:100%;
  height:auto;
  border:solid 2px rgb(236, 236, 236);
  border-radius: 6px;
  transition: .5s ease;
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-55%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background: none;

}

.launch-btn {
  border:solid 2px #00c3c8;
  color: #000;
  font-size: 15px;
  padding: 15px 10px;
  font-weight: 400;
  text-transform:uppercase;
  transition: .5s ease;
  border-radius:4px;
  text-align: center;
  margin-left:25px;
}


.launch-btn:hover {
  color: #fff;
  background-color:#00c3c8;
  font-size: 15px;
  padding: 15px 18px;
  font-weight: 400;
  text-transform:uppercase;
  transition: .5s ease;
  border-radius:4px;
  text-align: center;

}



.portfolio-photo:hover .image {
  opacity: 0.2;
}

.portfolio-photo:hover .middle  {
  opacity: 1;
}





.portfolio-photo img:hover{
  width:100%;
  height:auto;
  border-radius: 6px;
  background-color: #00c3c8;
}

.port-box-text{
  margin-bottom:20px;
  text-align: center;
}

.portfolio-box{
  border:solid 3px rgb(255, 255, 255);
  border-radius: 6px;
  margin-bottom:10px;
  transition:transform .5s;
  background-color:rgba(238, 238, 238, 0.528);
}

.portfolio-box:hover{
  border:solid 2px rgb(255, 255, 255);
  border-radius: 6px;
  margin-bottom:10px;

}




.portfolio-box:hover {
  transform:translateY(-10px) scale(1);
  background-color:#fff;
  box-shadow: 5px 20px 25px #888888f1;
  border: solid 1.5px #6C006C;

}

.portfolio-link{
  text-decoration: none;
}

.right-align{
  text-align: right;
}

/*

----------- FORM --------------------

*/

.contact-section{
  background-color: #252A33;


}


.form-body {
  margin-top:120px;
  text-align: center;
  padding: 60px 0 110px;
  width: 800%;
  max-width: 1100px;
  font-size: 16px;
  background-color: #252A33;

}
.form-body {
  margin-bottom: 0px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  max-width: 1140px;
  margin: 0 auto;
  color:#fff;
}

form {
  width: 58.3333333333%;
  margin: 0px auto;
}
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;

}
form .field label {
  text-transform: uppercase;
  font-size: 16px;

  position: absolute;
  top: 0;
  left: 0;
  background: #1e252c;
  width: 100%;
  padding: 21.5px 0;
  font-size: 18px;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;

}
form .field label + span {
  font-family: 'SSStandard';
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 50px;
  left: 7%;
  width:400px;
  font-size: 16px;
  text-shadow: 1px 2px 0 #00c3c8;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"],
form .field textarea {
  border: none;
  background: #E8E9EA;
  width: 80.5%;
  margin: 0;
  padding: 24px 0;
  padding-left: 19.5%;
  color: #313A3D;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width:645px;

}
form .field input[type="text"]#msg,
form .field textarea#msg {
  height: 68px;
  width:100%;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused {
  outline: none;
}
form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg {
  padding-bottom: 150px;
}
form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label {
  width: 18%;
  background: #00c3c8;
  color: #313A3D;
}
form .field input[type="text"].focused + label,
form .field textarea.focused + label {
  color: #00c3c8;
}
form .field:hover label {
  width: 18%;
  background: #6C006C;
  color: white;
}

form input[type="submit"] {
  background: #252a33;
  color: white;
  border: 2px solid #fff;
  -webkit-appearance: none;
  text-transform: uppercase;
  position: relative;
  padding: 13px 50px;
  font-size: 16px;
  border-radius: 4px;
  margin-top:15px;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;

}


form input[type="submit"]:hover {
  background: #00c3c8;
  color: #fff;
  margin-top:15px;
  border: 2px solid #00c3c8;
  border-radius:4px;


}
form input[type="submit"]:focus {
  outline: none;
  background: #6C006C;

}

/*

===============Footer=================

*/


footer {
  background-color: #1e252c;
  padding: 70px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
}

.social-links {
  list-style: none;
  text-align: center;
  font-size: 25px;
  margin-top:10px;


}

.square{

  width: 60px;
	height: 60px;
  background: #252B32;
  margin:0px 5px;
  text-align: center;
  position:relative;
  top:50%;
  left:39%;
  transform:translate(-50%, -50%);
  text-align: center;
  float:left;

}
.square:hover{

  width: 60px;
	height: 60px;
  background: rgb(79, 88, 99);
  margin:0px 5px;
  text-align: center;
  position:relative;
  top:50%;
  left:39%;
  transform:translate(-50%, -50%);
  text-align: center;
  float:left;

}

.square .footer-li{
  margin-top:2px;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 25px;


}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-github,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}


.ion-social-github:hover {
  color: #e0e0e0;
}

.ion-social-linkedin:hover {
  color: #007bb6;
}

.ion-social-googleplus:hover {
  color: #d62d20;
}

.ion-social-pinterest:hover {
  color: #bd081c;
}


footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}

